In [2]:
import json 
import pandas as pd
import numpy as np

In [92]:
with open('E:\\mygit\\Berlin-Chapter-Challenge-Waste-Management\\src\\data\\1-raw data\\Geospatial Data\\waste_disposal\\wastedisposalsites_Saxony-Anhalt_DE-ST.json'
          ,'r', encoding='utf-8') as json_file:
    data = json.load(json_file)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [80]:
new_data_list = []

for entry in data["elements"]:
    new_entry = {
        **entry.get("tags", {}),  
        "type": entry.get("type", None),  
        "id": entry.get("id", None), 
        "lat": entry.get("lat", None),  
        "lon": entry.get("lon", None), 
    }
    new_data_list.append(new_entry)

In [81]:
df = pd.DataFrame(new_data_list)

In [82]:
df.shape

(805, 84)

In [83]:
columnslist = df.columns

for column in columnslist:
    print(f"'{column}'")

'amenity'
'location'
'type'
'id'
'lat'
'lon'
'waste'
'operator'
'access'
'ele'
'fixme'
'recycling:glass'
'fee'
'waste_basket:excrement_bags'
'description'
'opening_hours'
'name'
'collection_times'
'recycling:PET'
'recycling:cans'
'recycling:cardboard'
'recycling:clothes'
'recycling:glass_bottles'
'recycling:paper'
'recycling:plastic_bottles'
'recycling:plastic_packaging'
'recycling:shoes'
'recycling:small_appliances'
'addr:housenumber'
'addr:street'
'contact:website'
'landuse'
'addr:city'
'addr:country'
'addr:postcode'
'barrier'
'building'
'note'
'ISO3166-2'
'TMC:cid_58:tabcd_1:Class'
'TMC:cid_58:tabcd_1:LCLversion'
'TMC:cid_58:tabcd_1:LocationCode'
'admin_level'
'alt_name:pt'
'border_type'
'boundary'
'de:amtlicher_gemeindeschluessel'
'de:regionalschluessel'
'name:ar'
'name:ca'
'name:en'
'name:eo'
'name:es'
'name:fa'
'name:fi'
'name:fr'
'name:hsb'
'name:hu'
'name:ia'
'name:io'
'name:it'
'name:mk'
'name:nds'
'name:nl'
'name:pl'
'name:prefix'
'name:pt'
'name:ru'
'name:sk'
'name:sl'
'name:sr'
'name:th'
'name:uk'
'name:ur'
'name:vo'
'name:zh'
'name:zh-Hans'
'name:zh-Hant'
'ref'
'ref:nuts:1'
'ref:nuts:2'
'wikidata'
'wikipedia'
'land_area'

In [84]:
df.isnull().sum()

amenity       389
location      802
type            0
id              0
lat            95
             ...
ref:nuts:1    804
ref:nuts:2    804
wikidata      803
wikipedia     803
land_area     804
Length: 84, dtype: int64

In [85]:
columns_to_delete = ['ISO3166-2',
       'TMC:cid_58:tabcd_1:Class',
       'TMC:cid_58:tabcd_1:LCLversion',
       'TMC:cid_58:tabcd_1:LocationCode',
       'admin_level',
       'admin_title',
       'admin_title:de',
       'alt_name:pt',
       'boundary',
       'de:amtlicher_gemeindeschluessel',
       'de:regionalschluessel',
       'name:af',
       'name:an',
       'name:ar',
       'name:az',
       'name:be',
       'name:be-tarask',
       'name:bg',
       'name:br',
       'name:bs',
       'name:ca',
       'name:co',
       'name:cs',
       'name:cv',
       'name:dsb',
       'name:el',
       'name:en',
       'name:eo',
       'name:es',
       'name:eu',
       'name:fa',
       'name:fr',
       'name:frr',
       'name:fy',
       'name:ga',
       'name:gl',
       'name:gv',
       'name:he',
       'name:hr',
       'name:hsb',
       'name:hu',
       'name:ia',
       'name:ie',
       'name:ilo',
       'name:io',
       'name:is',
       'name:it',
       'name:ja',
       'name:ka',
       'name:ko',
       'name:ksh',
       'name:la',
       'name:li',
       'name:lij',
       'name:lmo',
       'name:lt','name:lv','name:mk','name:mr','name:nah','name:nap','name:nds','name:nds-nl','name:nl','name:oc','name:os',
       'name:pdc','name:tr','name:mr', 'name:nah', 'name:nap', 'name:nds', 'name:nds-nl', 'name:nl',
       'name:oc', 'name:os', 'name:pdc', 'name:tr''name:pfl', 'name:pl', 'name:pms', 'name:pnb', 'name:prefix', 'name:pt',
       'name:rm', 'name:ro', 'name:ru', 'name:tr''name:sco', 'name:sh', 'name:sk', 'name:sl', 'name:sr', 'name:stq',
       'name:sw', 'name:szl', 'name:th', 'name:tr''name:uk', 'name:vec', 'name:vo', 'name:zh', 'name:zh-Hant', 'ref',
       'ref:nuts', 'ref:nuts:1', 'wikidata', 'wikipedia']

In [86]:
new_df = df[['id', 'lat', 'lon']]

In [87]:
for col in columns_to_delete:
    if col in df.columns:
        df.drop(columns=col, inplace=True)

In [88]:
df.head()

,amenity,location,type,id,lat,lon,waste,operator,access,ele,...,barrier,building,note,border_type,name:fi,name:uk,name:ur,name:zh-Hans,ref:nuts:2,land_area
0,waste_disposal,overground,node,335776642,54.065608,12.117809,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,waste_disposal,NaN,node,460891232,53.303265,12.814519,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,waste_disposal,NaN,node,460891237,53.302844,12.815499,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,waste_disposal,NaN,node,460891244,53.303963,12.815060,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,waste_disposal,NaN,node,460891297,53.303962,12.816871,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
df.isnull().sum()

amenity                        389
location                       802
type                             0
id                               0
lat                             95
lon                             95
waste                          718
operator                       796
access                         686
ele                            804
fixme                          804
recycling:glass                803
fee                            804
waste_basket:excrement_bags    804
description                    802
opening_hours                  804
name                           796
collection_times               804
recycling:PET                  804
recycling:cans                 804
recycling:cardboard            804
recycling:clothes              804
recycling:glass_bottles        804
recycling:paper                804
recycling:plastic_bottles      804
recycling:plastic_packaging    804
recycling:shoes                804
recycling:small_appliances     804
addr:housenumber               804
addr:street                    803
contact:website                804
landuse                        804
addr:city                      804
addr:country                   804
addr:postcode                  804
barrier                        803
building                       804
note                           802
border_type                    804
name:fi                        804
name:uk                        804
name:ur                        804
name:zh-Hans                   804
ref:nuts:2                     804
land_area                      804
dtype: int64

In [90]:
new_df.dropna(subset=['lat', 'lon'], inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_3328\1196869661.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.dropna(subset=['lat', 'lon'], inplace=True)

In [91]:
new_df.to_csv('WasteDisposalCentres__Mecklenburg_Vorpommern_DE-MV.csv', index=False)