In [1]:
import xml.etree.ElementTree as ET
import pandas as pd

In [21]:
tree = ET.parse('E:\\mygit\\Berlin-Chapter-Challenge-Waste-Management\\src\\data\\1-raw data\\Geospatial Data\\waste_disposal\\wastedisposalsites_Thuringia_DE-TH.xml')  # Replace 'your_xml_file.xml' with the path to your XML file
root = tree.getroot()

In [22]:
data = []

for node in root.findall('.//node'):
    node_data = {}
    node_data['id'] = node.get('id')
    node_data['lat'] = node.get('lat')
    node_data['lon'] = node.get('lon')
    
    for tag in node.findall('tag'):
        key = tag.get('k')
        value = tag.get('v')
        node_data[key] = value
    
    data.append(node_data)

In [23]:
df = pd.DataFrame(data)

In [24]:
df.head()

,id,lat,lon,amenity,fountain,wikimedia_commons,created_by,wheelchair,bottle,flow,...,addr:housenumber,addr:postcode,description:de,drinking_water:legal,building,carbonized,chilled,name:fr,lit,website
0,246569213,41.8245081,12.4855460,drinking_water,nasone,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,246569214,41.8526205,12.4783285,drinking_water,nasone,"File:Nasone Giardino Alberto Oliva, Roma, Ital...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,246569216,41.8637486,12.4789476,drinking_water,nasone,"File:Nasone Via Ostiense, Roma, Italia Oct 31,...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,246571139,41.9042869,12.5132783,drinking_water,NaN,NaN,JOSM,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,246571141,41.9047904,12.5162428,drinking_water,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df.shape

(1960, 73)

In [26]:
df.isnull().sum()

id               0
lat              0
lon              0
amenity          0
fountain      1163
              ...
carbonized    1959
chilled       1959
name:fr       1959
lit           1959
website       1958
Length: 73, dtype: int64

In [27]:
new_df = df[['id','lat','lon']]

In [28]:
new_df.dropna(subset=['lat', 'lon'], inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_676\1196869661.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.dropna(subset=['lat', 'lon'], inplace=True)

In [20]:
new_df.to_csv('WasteDisposalCentres__Thuringia.csv', index=False)