In [3]:
import pandas as pd
import numpy as np
import json 
import pickle 
import requests

In [13]:
# Replace with your API key
api_key = "5b3ce3597851110001cf62481812d7fb40e0470695b078ee763d603e"

# Replace with your specific latitude and longitude coordinates for the starting and ending points
start_latitude = 49.41461
start_longitude = 8.681495
end_latitude = 49.420318
end_longitude = 8.687872

# Define the URL with the parameters
url = f'https://api.openrouteservice.org/v2/directions/driving-hgv?api_key={api_key}&start={start_longitude},{start_latitude}&end={end_longitude},{end_latitude}'

# Define the headers for the request
headers = {
    'Accept': 'application/json, application/geo+json',
}

# Make the GET request to ORS Directions API
response = requests.get(url, headers=headers)

# Check the HTTP status code and reason
print(response.status_code, response.reason)

# Print the response content
print(response.text)

200 OK
{"type":"FeatureCollection","metadata":{"attribution":"openrouteservice.org | OpenStreetMap contributors","service":"routing","timestamp":1696221963165,"query":{"coordinates":[[8.681495,49.41461],[8.687872,49.420318]],"profile":"driving-hgv","format":"json"},"engine":{"version":"7.1.0","build_date":"2023-07-09T01:31:50Z","graph_date":"2023-10-01T08:23:22Z"}},"bbox":[8.681423,49.414599,8.69198,49.420514],"features":[{"bbox":[8.681423,49.414599,8.69198,49.420514],"type":"Feature","properties":{"transfers":0,"fare":0,"segments":[{"distance":1601.9,"duration":284.4,"steps":[{"distance":1.8,"duration":0.4,"type":11,"instruction":"Head west on Gerhart-Hauptmann-Straße","name":"Gerhart-Hauptmann-Straße","way_points":[0,1]},{"distance":313.8,"duration":75.3,"type":1,"instruction":"Turn right onto Wielandtstraße","name":"Wielandtstraße","way_points":[1,6]},{"distance":737.5,"duration":110.5,"type":1,"instruction":"Turn right onto Mönchhofstraße","name":"Mönchhofstraße","way_points":[6,21]},{"distance":418.1,"duration":66.8,"type":0,"instruction":"Turn left onto Handschuhsheimer Landstraße, B 3","name":"Handschuhsheimer Landstraße, B 3","way_points":[21,36]},{"distance":130.6,"duration":31.4,"type":0,"instruction":"Turn left onto Roonstraße","name":"Roonstraße","way_points":[36,37]},{"distance":0.0,"duration":0.0,"type":10,"instruction":"Arrive at Roonstraße, straight ahead","name":"-","way_points":[37,37]}]}],"way_points":[0,37],"summary":{"distance":1601.9,"duration":284.4}},"geometry":{"coordinates":[[8.681495,49.414599],[8.68147,49.414599],[8.681488,49.41465],[8.681423,49.415746],[8.681656,49.41659],[8.681826,49.417081],[8.681881,49.417392],[8.682461,49.417389],[8.682676,49.417387],[8.683595,49.417372],[8.68536,49.417365],[8.686407,49.417365],[8.68703,49.41736],[8.687467,49.417351],[8.688212,49.417358],[8.688802,49.417381],[8.690345,49.417424],[8.690434,49.417418],[8.691467,49.417155],[8.691735,49.417102],[8.691805,49.417098],[8.69198,49.417121],[8.691931,49.417235],[8.691817,49.417369],[8.691428,49.417726],[8.691073,49.418051],[8.690936,49.418188],[8.690946,49.41825],[8.69092,49.418378],[8.690912,49.418411],[8.690667,49.418993],[8.690621,49.419095],[8.690391,49.419368],[8.690275,49.419577],[8.690123,49.419833],[8.689854,49.420217],[8.689653,49.420514],[8.687871,49.420322]],"type":"LineString"}}]}

In [15]:
if response.status_code == 200:
    geojson_data = response.json()  # Updated variable name
    
    # Save the GeoJSON data to a .geojson file
    with open('route_data.geojson', 'w') as geojson_file:
        json.dump(geojson_data, geojson_file)
    print("Route data saved as 'route_data.geojson'")
else:
    print("Error: Unable to fetch route data")

Route data saved as 'route_data.geojson'

In [17]:
import folium
import json

# Load the GeoJSON data from the file
with open('route_data.geojson', 'r') as geojson_file:
    geojson_data = json.load(geojson_file)

# Create a Folium map centered on the route
m = folium.Map(location=[49.41461, 8.681495], zoom_start=15)

# Add the GeoJSON data to the map as a GeoJson object
folium.GeoJson(geojson_data).add_to(m)

# Display the map
m.save('route_map.html')

In [1]:
station_clusters_file_path = "E:\\Berlin-Chapter-Challenge-Waste-Management\\src\\tasks\\task-4-modellingAndEvaluation\\Geospatial Data Analytics\\combinedfiles\\station_cluster_centers.csv"

In [4]:
df = pd.read_csv(station_clusters_file_path)

In [5]:
df.head()

,Unnamed: 0,id,state,station,lat,lon,cluster_lat,cluster_lon,cluster_ID
0,0,291220769,Hesse,waste disposal centres,50.554103,9.713017,49.929331,10.002324,19
1,1,322806282,Hesse,waste disposal centres,50.141800,8.682534,50.167510,8.449278,11
2,2,419842535,Hesse,waste disposal centres,51.291106,9.487143,51.362395,9.596176,18
3,3,521376692,Hesse,waste disposal centres,50.099528,8.669237,50.167510,8.449278,11
4,4,778177214,Hesse,waste disposal centres,50.588914,8.664269,50.167510,8.449278,11

In [8]:
df = df[['id', 'state', 'station', 'cluster_lon', 'cluster_lat', 'cluster_ID']]

In [9]:
df.head()

,id,state,station,cluster_lon,cluster_lat,cluster_ID
0,291220769,Hesse,waste disposal centres,10.002324,49.929331,19
1,322806282,Hesse,waste disposal centres,8.449278,50.167510,11
2,419842535,Hesse,waste disposal centres,9.596176,51.362395,18
3,521376692,Hesse,waste disposal centres,8.449278,50.167510,11
4,778177214,Hesse,waste disposal centres,8.449278,50.167510,11

In [10]:
df.shape

(66552, 6)

In [18]:
df = df.drop_duplicates(subset=['station', 'cluster_ID'])

In [23]:
df.sample(10)

,id,state,station,cluster_lon,cluster_lat,cluster_ID
4866,2754811013,Baden-Wurttemberg,landfills,8.455658,49.765426,19
7130,391525132,Brandenburg,recycling centres,12.775607,53.913894,19
6967,52225421,Brandenburg,recycling centres,13.448486,52.461206,8
5841,687953120,Hesse,landfills,9.633526,50.616450,16
40332,340384778,Lower Saxony,recycling centres,9.678874,54.338817,16
5755,4154888318,North Rhine-Westphalia,landfills,13.514182,53.829247,15
4107,632700351,Baden-Wurttemberg,landfills,7.976031,48.046606,10
18785,374401302,Saxony,recycling centres,11.203685,50.655228,9
193,472318025,Lower Saxony,waste disposal centres,8.186001,53.282791,8
3955,7644625458,Bavaria,waste transfer stations,11.036284,49.776391,9

In [29]:
waste_disposal_df = df[df['station'] == 'waste disposal centres']
recycling_centres_df = df[df['station'] == 'recycling centres']

In [25]:
waste_disposal_df.shape

(20, 6)

In [30]:
recycling_centres_df.to_csv('recycling_clusters.csv')